link(rel="stylesheet" href="style.css" type="text/css" media="screen")/

p The Brewers Association recognizes that there is a proliferation of creativity by innovative brewers throughout the world. Specific hop characters define the signature qualities of many traditional styles of ales and lagers. Many brewers choose to maintain the overall beer character of a particular style, but use new hop types, resulting in "traditional" styles of beer, which have unique hop character. While many brewers strive to maintain the traditions of certain brewing styles, other brewers seek to reflect the uniqueness of their own beer culture and local produced ingredients. The Brewers Association maintains that" one uniquely brewed beer does not a style create." Competition organizers who reflect on their own unique circumstances may choose to break out non-traditional varieties of ales or lagers into their own categories, or combine traditional and non-traditional examples as subcategories or larger categories.

p The styles we will choose to feature in this section of the guidelines reflect the establishment of what we feel has become a style of beer in various world beer markets, thus establishing and recognizing it as a "style" of beer brewed by many breweries perhaps in a particular area. For example, "International Pale Ale" might be designated "New Zealand Pale Ale" if this pale ale is brewed with and possesses the unique character of New Zealand hops, Likewise a "German Pale Ale" could be brewed or dry hopped with German varieties of hops. A French Pale Ale with unique French hops. The same may eventually be true of the "India Pale Ale styles."
